/*For alle sidene*/
/*https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
body{
  background-color: #F7F7F7;
}
.container{
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 250px;
}
.clear{
  clear: both;
}
a {
  text-decoration: none;
  color: #000;
}
/*Navbar*/
.navbar{
  height: 80px;
  top: 0;
  width: 100%;
  background-color: #E8E6E1;
}
.icon{
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 20px;
}
.navbar a{
  display: inline-block;
  position: absolute;
}
#logo{
  margin: 0 auto;
}
.bck{
  left: 1%;
}
.logo{
  left: 47%;
  height: 80px;
}
#logo{
  height: 80px;
  width: 60px;
}
.language{
  left: 85%;
}
.profile{
  left: 90%;
}
.profile img{
  margin-left: 25%;
}
.link{
  height: 80px;
}
#nameSpan{
  font-weight: bolder;
  text-decoration: underline;
}
#nameSpan:hover{
  color: blue;
}

footer {
  /*https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/*/
  position:fixed;
  bottom:0;
  background-color: #E8E6E1;
  width: 100%;
}

footer ul{
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
}
/*Valgt Tur*/



#logIn{
  width:110px;
  text-align: center;
  width:110px;
  font-size:20px;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-weight:bold;
  border-style:solid;
  border-color:#556b2f;
  padding:5px;
}

h1{
  font-size: 30px;

  font-weight:normal;
}
h2{
  font-size: 20px;

  font-weight:normal;
}
.flagg{
  width: 62px;
  height:43px;
  position:relative;
  top:0px;
  left:0px;
}

.mine-turer-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.mine-turer-ul{
  width: 500px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.mine-turer-ul li{
  list-style: none;
  height: 50px;
  margin: 20px;
  font-size: 20px;
  border: solid;
  border-radius: 10px;
  border-color:#556b2f;

}
.min-tur{
  border: solid;
  border-color:#556b2f;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  text-align: center;
  margin-top: 10px;
}

.mine-turer-text{
  font-size: 25px;
}


