/*================================================================
Felles CSS fil for alle sidene, inneholder stiler for formattering av selve siden
og navigasjonsbaren og footeren.

Noen sider krever egne stiler så de er definert i style tagger på de sidene for å holde dette dokumentet
mer ryddig
================================================================*/


/*https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*Resetter alt av stiler i dokumentet og setter fonten til fonten vi har valgt å bruke*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
/*Setter bakgrunnsfargen på nettsiden til en litt finere farge*/
body{
  background-color: #F7F7F7;
}
/*Kontainer div som finnes på hver side, sørger for at ikke innholdet går av siden og har litt padding
så ikke innholdet i siden går inn i footeren og navigasjonsbaren*/
.container{
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 150px;
}

/*Dette er en hjelpeklasse som brukes hvis man floater noe i dokumentet, resetter floating så ikke ting flyr over alt
https://www.w3schools.com/cssref/pr_class_clear.asp
*/
.clear{
  clear: both;
}

/*Sørger for at ingen linker har dekorasjon som underlinje*/
a {
  text-decoration: none;
}

/*Sørger for at alle input  formene er like i stil og form*/
.input-form{
  margin: 0 auto;
  width: 25%;
  font-size: 1.3em;
}
.input-form input{
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #E8E6E1;
}
/*Navbar*/
.navbar{
  height: 80px;
  top: 0;
  width: 100%;
  background-color: #E8E6E1;
}
.icon{
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 20px;
}
.navbar a{
  display: inline-block;
  position: absolute;
}
#logo{
  margin: 0 auto;
}
.bck{
  left: 1%;
}
.logo{
  left: 47%;
  height: 80px;
}
#logo{
  height: 80px;
  width: 60px;
}
.language{
  left: 85%;
}
.profile{
  left: 90%;
}
.profile img{
  margin-left: 25%;
}
.link{
  height: 80px;
}
#nameSpan{
  font-weight: bolder;
  text-decoration: underline;
}
#nameSpan:hover{
  color: blue;
}

footer {
  /*https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/*/
  position:fixed;
  bottom:0;
  background-color: #E8E6E1;
  width: 100%;
}

footer ul{
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
}
/*Klasse som brukes for knappene på siden, sørger for at alle knappene er likt utformet*/
.btn-basic{
  border-radius: 5px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 5px 15px;
  color: #fff;
  background-color: #556b2f;
  border: 1px solid #556b2f;
}
/*Samme som over bare mindre*/
.btn-basic-small{
  border-radius: 5px;
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 5px 15px;
  width: 25%;
  color: #fff;
  background-color: #556b2f;
  border: 1px solid #556b2f;
}
/*:Hover selector for knappene, når man tar musepekeren over knappene endrer de farge
https://www.w3schools.com/cssref/sel_hover.asp
*/
.btn-basic:hover{
  background-color: #4b6516;
  border: 1px solid #556b2f;
}
